.register__signin-text {
  font-family: Inter,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 27px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  color: #CCCCCC;
  text-decoration: none;
}